@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');

:root{
    /* pallette*/
--primary-solid: #ff3333;
--primary-900: rgba(255, 51, 51, 0.9);
--primary-500: rgba (255, 51, 51, 0.5);
--primary-300: rgba (255, 51, 51, 0.3);

--secondary-solid: #1d84b5;
--secondary-900: rgb(29, 132, 181, 0.9);
--secondary-500: rgb (29, 132, 181, 0.5);
--secondary-300: rgb (29, 132, 181, 0.3);

--dark-solid: #1f1f1f;
--dark-900: rgb(31 31, 31, 0.9);
--dark-500: rgb(31 31, 31, 0.5);
--dark-300: rgb (31 31, 31, 0.3);

--dark-bg-solid: #30343f;
--light-bg-solid: #fafaff;
--light-font-solid: #ffffff;

/* typography */

--base-font: 'Inter', sans-serif;
--alternative-font: 'Raleway', sans-serif;

/* font-size */

--font-display: 4.6em;
--font-jumbo: 3.8em;
--font-xlarge: 3em;
--font-large: 2.4em;
--font-medium: 1.8em;
--font-small: 1.68em;
--font-xsmall: 1.4em;

/* spacings */

--spacing-128: 12.8rem;
--spacing-68: 6.8rem;
--spacing-36: 3.6rem;
--spacing-28: 2.8rem;
--spacing-24: 2.4rem;
--spacing-20: 2rem;
--spacing-16: 1.6rem;
--spacing-12: 1.2rem;
--spacing-8: 0.8rem;

}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  font-family: var(--base-font);
  font-size: 62.5%;
  color: var(--dark-solid);
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

header,
footer {
  font-family: var(--alternative-font);
  color: var(--light-font-solid);
}

ul, ol {
  list-style-type: none;
}

p{
  font-size: 1.8em;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}


/* header */

header{
  background-color:var(--dark-bg-solid);
  padding: var(--spacing-36);
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo{
  max-width: 300px;
}

.navbar__menu{
  display: flex;
  align-items: center;
  gap: var(--spacing-20);  
}

.navbar__link{
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);
  display: inline-block;
  transition: background 0.3 ease-in-out;
  position: relative;
}

.navbar__link:hover{
  background-color: var(--primary-900);
}

.with-icon{
  display:flex;
  align-items: center;
  gap: var(--spacing-8);
}

.with-submenu:hover .submenu{
  display: block;
}

.submenu{
  display: none;
  width: 300px;
  position:absolute;
  background-color: var(--dark-bg-solid);
  z-index: 3;
}

.submenu__link{
  display:block;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-medium);
  transition: background 0.3 ease-in-out;
}

.submenu__link:hover{
  background-color: var(--primary-900);
}
/* HERO  -- INICIO*/
.hero{
  background-image: url(../img/funkos-banner.webp);
  padding: var(--spacing-128);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero::before{
  content: '';
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  backdrop-filter:blur(2px) brightness(.9) ;

}

.hero__content{
  display:flex;
  flex-direction: column;
  gap: var(--spacing-20);
  align-items: start;
  z-index: 2;
  position: relative;
}

.hero__title{
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  color: var(--light-font-solid); 
}

.hero__text{
  font-family: var(--alternative-font);
  font-size: var(--font-medium);
  color: var(--light-font-solid); 
}

.hero__link{
  display:block ;
  font-size: var(--font-medium);
  background-color: var(--light-bg-solid);
  padding: var(--spacing-12) var(--spacing-68);
  border-radius: 50px;  
  font-weight: 500px;
  transition:all .3s ease-in-out;
}

.hero__link:hover{
  background-color: var(--primary-900);
  color: var(--light-font-solid);
  
}
/* HERO  -- FIN*/

/* Collection -- INICIO*/
.collection{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover{
  order:-1;
}

.collection__content{
  display:flex;
  flex-direction: column;
  gap: var(--spacing-24);
  align-items: start;
}

.collection__title{
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 500;
}

.collection__text{
  font-family: var(--alternative-font);
  font-size: var(--font-large);
  font-weight: 300;
  border-bottom: 2px solid var(--primary-solid);
  padding-bottom: var(--spacing-20);
}

.collection__link{
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--dark-bg-solid);
  color: var(--light-bg-solid);
  padding: var(--spacing-16) var(--spacing-36);
  border-radius: 50px;
  font-weight: 500;
  transition: background .3s ease-in-out;
}

.collection__link:hover{
  background-color: var(--primary-900); 
}
/* COLLECTION -- FIN*/

/* SLIDER -- INICIO*/
.slider{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-36);
  margin: var(--spacing-68) auto;
  
}

.slider__title{
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  font-weight: 700;
}
.slider__items {
  display: flex;
  gap: var(--spacing-24);

}

.card-item__cover{
  display: flex;
  position: relative;
}

.card-item__tag{
  font-size: var(--font-xsmall);
  text-transform: uppercase;
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  padding: var(--spacing-8) var(--spacing-12);
  position: absolute;
  right: 0%;

}

.card-item__cover img{
  animation:fade .7s;
}

.card-item__img--back{
  display: none;
}
.card-item_cover:hover .card-item_img--back{
  display: block;
}

.card-item_cover:hover .card-item_img--front{
  display: none;
}

.card-item__content{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  padding: var(--spacing-16);
}

.card-item__licence{
  font-size: var(--font-xsmall);
  font-weight: 500;
}

.card-item__name{
  font-size: var(--font-medium);
  font-weight: 700;
}

.card-item__price{
  font-size: var(--font-small);
  
}

.card-item__promo{
  font-size: var(--font-xsmall);
  color:var(--secondary-solid);
  font-weight: 700;
}

/* FOOTER */
.footer{
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-68);
}

.footer__copy{
  margin-top: var(--spacing-36);
  text-align: center;
}

/* ANIMATION*/
@keyframes fade{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

/* SLIDER -- FIN*/

/****PRINCIPIO SHOP*******/

/***** melina ******/

  .pages{
    display: flex;
    justify-content: center;
    padding: var(--spacing-36) 0;
  }
  .paginator-border {
    border: 1px solid #a19f9f;
    padding: 1em;
    border-radius: 5px;
    
  }
  .paginator-border-red {
    border: 2px solid #e25c5c;
    padding: 1em;
    border-radius: 5px;
    
  }
  .pages-item {
    display:flex;
    list-style: none;
    gap: .4rem;
    
  }

 .search__content{
  float: left;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  
}

.buscar-range {
  display: flex;
  flex-direction: column; 
  gap: var(--spacing-12); 
}

.search__input{
  border-radius: 6px;
  border-color: var(--dark-solid);
  padding: 15px;
}


.large-input {
height: 40px; 
}

.small-input {
width: 57px; 
height: 30px;
}

.ordenar-range {
display: flex;
flex-direction: column; 
gap: var(--spacing-12); 
}
.ordenar__select{
  border-radius: 6px;
  height: 40px; 
  padding: 10px;
  display: block;
  background-color: transparent; 
  border-color: var(--dark-solid);
}

.price-range {
display: flex;
flex-direction: column; 
gap: var(--spacing-12); 
}

/* Estilo para el contenedor de inputs MIN y MAX */
.price-inputs {
display: flex;
align-items: center;
gap: var(--spacing-8); 
}

.price__text{
font-size: var(--font-small);
}

.filter__label {
display: block;
margin-left: 20px;
font-size: var(--font-xsmall);
padding: 5px;
}

.filter__checkbox{
gap: var(--spacing-12); 
}

/*****FIN SHOP******** */

iconify-icon{
color: var(--dark-bg-solid);
font-size: var(--font-small);
font-weight: 700;
}

.glide__arrow--left{
left:0;
}

.glide__arrow--right{
right:0;
}


/*****CARRITO******** */
 
.titulo_carrito{
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  border-bottom: 5px solid var(--primary-solid);

  width: 420px;
  height: 62px;
  Padding: 0px, 0px, 8px, 0px;
  Gap:10px;
  margin-top: 120px;

}
.cart_container{
  background-color: var(--light-bg-solid);
  border-radius: 10px;
  margin-top: var(--spacing-28);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  Width:  1220px;
  Height:  51px;
/*Jimena*/
  font-family: var(--base-font);
  font-size: var(--font-small);
  font-weight: 700;
  
}

.cart_titulo_container{
  display: flex;
  justify-content: space-between;
  padding: 12px 225.5px 0 110px;
  margin-top: 50px;
  color: #000;

font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.cart_item_descripcion{
  display: flex;
width: 410px;
align-items: center;
gap: 18px;
flex-shrink: 0;
}

.cart_item_titulo{
width: 272.75px;
color: #111;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.cart_item_text{
  color: #333;

font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }

.cart_item_precio{
  color: #333;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }


.cart_item_container{
  display: flex;
  width: 122.25em;
  height: 195px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--light-bg-solid);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
}



.titulo_items{
  font-family: var(--base-font);
  font-size: var(--font-xsmall);
}

.title_resumen{
  width: 150px;
  font-family: var(--alternative-font);
  font-size: var(--font-xlarge);
  font-weight: 700;
  border-bottom: 5px solid var(--primary-solid);
  padding-bottom: var(--spacing-8);
  text-align: right;
  margin-top: 50px;
  margin-left: 1050px;

}

.resumen_container{
  display: inline-flex;
  Width:  572px;
  Height:  197px;
  margin-top: 20px;
  margin-left: 648px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  background: #FAFAFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.resumen_items{
display: flex;
width: 524px;
justify-content: space-between;
align-items: center;
}

.resumen_items_text1{
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.resumen_items_text2{
  color: #747474;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }


  .resumen_items_text_total{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }


  .resumen_items_text_total2{
    color: #747474;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

  



.resumen_items_total{
  display: flex;
  width: 524px;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--primary-solid);
}
.icon_close{
  color:#ff3333;
  font-size: var(--font-xsmall);
}

.item_quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.input_quantity{
  width: 89.48px;
  height: 40px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  border: 0.5px solid #C9C9C9;
  background: #FFF;
}

.item_sum{
  display: grid; 
  grid-template-rows: 1fr 1fr; 
  gap: 5px; 
}

.button_quantity_container{
  display: flex;
  width: 18px;
  height: 16px;
  padding: 4px;
  justify-content: space-between;
  align-items: center;
  background-color: #ff3333;
  margin-left: 5px;
}



.button_quantity_mas{
  width: 8px;
height: 8px;
flex-shrink: 0;
fill: #FFF;
  
}



.button_quantity_menos{
  width: 6px;
height: 1px;
flex-shrink: 0;
fill: #FFF;
}

.cart_item_total{
  color: #333;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item_pagar{
  Width:  572px;
  Height: 68.656px;
  background-color: #ff3333;
  margin: 35px 0 70px 648px;
  text-align: center;
  padding-top:10px;

}

.item_pagar__text{
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}


/* ITEM*/


.item {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: var(--spacing-36);
}

.item__picture {
  width: 45em;
  height: 45em;
}

.item__info {
  display:flex;
  flex-direction: column;
  gap: var(--spacing-12);
  align-items: start;
}


.item__description {
  font-size: var(--font-medium);
  font-weight: 400;
}


.item__promolink {
  font-size: var(--font-xsmall);
  color: var(--secondary-solid);
  font-weight: 700;
  text-decoration-line: underline;
  margin-right: 0.3em ;
  transition: background 0.3 ease-in-out;
}

.item__promolink:hover {
background-color: var(--dark-300);
}

.item__promofee {
  font-size: var(--font-xsmall);
  color: var(--secondary-solid);
  font-weight: 700;   
}

.item__cart {
display: flex;
gap: var(--spacing-12);
}

.item__quantity {
background-color: var(--dark-bg-solid);
color: var(--light-font-solid);
width: 2.3em;
height: 2.1em;
text-align: center;
}

.item__submit {
  display: inline-block;
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  font-size: var(--font-xsmall);
  font-weight: 400;
  font-family: var(--base-font);
  border-color: var(--primary-solid);
  padding: var(--spacing-4);

}

.item__submit:hover{
  background-color: var(--secondary-900);
  border-color: var(--secondary-900);
  font-weight: 600;
}

.item__input {
  display: inline-block;
  padding: var(--spacing-4);
  font-family: var(--base-font);
  font-size: var(--font-xsmall);
  font-weight: 400;
  width: 4.5em;
  height: 2.1em;
  text-align: center;

}

    
.item__licence {
  font-size: var(--font-xsmall);
  font-weight: 600;
}

.item__name {
font-size: var(--font-xlarge);
font-weight: 700;

}

.item__price {
font-size: var(--font-large);
font-weight: 400;
}

.item__promo {
display: flex;
align-items: start;  
}

/*admin*/

.admin_titulo_container{
  display: flex;
  justify-content: space-between;
  padding: 12px 225.5px 0 110px;
  margin-top: 50px;
  color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.titulo_listado_prod{
  width: 400px;
  color: #111;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }


  .admin__search__content{
    float: left;
    display: flex;
    width: 100%;
    gap: var(--spacing-12);
    
  }


  .admin__buscar-range {
    display: flex;
    gap: var(--spacing-12); 
  }
  
  .admin__search__input{
    width: 590.88px;
    height: 44.28px;
    
    left: 110px;  
    border-radius: 6px;
    border-color: var(--dark-solid);
    padding: 15px;
  }

  .agregar_content{
    display: flex;
  }

  .icon_lupa_container{
    display: flex;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
  }
  
  .icon_lupa{
    Width: 30.8px;
    Height: 30.76px;
    Top:    5.25px;
    Left:    5.25px;
    
  }